<script id="tpl_manage_log" type="text/x-jsrender">
<div class="long-main-content">
    <div class="long-main-title">
        <h1>日志管理</h1>
    </div>
    <div class="teach-admin">
        <div class="admin-con">
            <div class="filter">
                <p>筛选条件</p>
                <p>
                    <input name="realName" type="text" placeholder="姓名">
                    <input name="userName" type="text" placeholder="用户名">
                    <input name="userName" type="text" placeholder="用户类型">
                </p>
                <span class="mobi-calendar iconfont icon-calendar">
                    <input name="" type="text" id="calendar" readonly class="" value="2017-6-2">
                </span>
                <a href="#" class="default-btn" name="searchBtn">搜索</a>
            </div>
            <div class="kebiao-con">
                <!--<div id="toolbar">
                    <button id="remove" class="btn btn-danger" disabled="">
                        <i class="iconfont icon-close"></i> 删除
                    </button>
                </div>-->
                <table id="tb_log" class="table-hover evaluate-table"></table>
            </div>
        </div>
    </div>
</div>
</script>