<script id="tpl_operaVarDetail" type="text/x-jsrender">
<div class="long-main-content">
	<div class="long-main-title">
    	<h1><span class="pull-left">发布衍生变量</span> <a href="#" class="default-btn pull-right">保存</a></h1>
    </div>
    <div class="pubOperaMsg-con">
		<div class="filter">
			<div class="row">
				<input type="hidden" id="varId"/>
				<input type="hidden" class="clazzPath"/>
				<div class="col-md-3">
						<input type="text" placeholder="在此输入算法名称" class="varName"/>
				</div>
				<div class="col-md-3">
				 		<input type="text" placeholder="在此输入算法标识" class="varCode"/>
				</div>
				<div class="col-md-3">
						<input type="text" placeholder="在此输入取数接口" class="queryIface"/>
				</div>
				<div class="col-md-3">
						<input type="text" placeholder="在此输入算法类名" class="clazzName"/>
				</div>
				<pre id="aceEditor" style="height: 800px;margin-left: 10px"></pre>
			</div>
		</div>
    </div>
</div>
</script >
