/* 省市区选择css */
.logistic-area-select-parent {
  display:inline-block;
  position: relative;
}

.logistic-area-select-list-popover {
  width: 432px;
  max-width: 508px;
  min-width: 432px;
  left: 0 !important;
}

/* .logistic-area-select-list-popover .arrow {
  left: 80px !important;
} */

.logistic-area-select-list .nav-tabs {
  border-bottom: 1px solid #edd28b;
}

.logistic-area-select-list .nav-tabs a {
  padding: 5px 8px;
  font-family: Arial, Verdana, "宋体";
  font-size: 12px;
}

.logistic-area-select-list .nav-tabs li.active a {
  border: 1px solid #edd28b;
  border-bottom-color: transparent;
}

.logistic-area-select-list .tab-content {
  min-height: 201px;
}

.logistic-area-select-list .tab-content ul {
  list-style:none;
  padding: 0;
}

.logistic-area-select-list .tab-content li {
  float:left;
  min-width:95px;
  clear: none;
  list-style:none;
  padding: 5px 0;
  white-space:nowrap;
}

.logistic-area-select-list .tab-content li input {
  vertical-align: -3px;
  margin-left:3px;
}

.logistic-area-select-list .tab-content a {
  font-size:12px;
  font-family: Arial, Verdana, "宋体";
  color: #005aa0;
  padding: 3px 1px;
}

.logistic-area-select-list .tab-content a:hover {
  color: white;
  background-color: #035390;
}

.logistic-area-select-list .tab-content a.active {
  border : 1px dashed #edd28b;
}

.logistic-area-select-list .operation-footer {
  border-top: 1px solid #edd28b;
  margin-top: 4px;
  padding-top: 3px;
}

.logistic-area-select-list .operation-footer input {
  font-size: 12px;
  height: 28px;
  width: 80px;
  vertical-align: middle;
}

.logistic-area-select-list .operation-footer button {
  padding: 3px 10px;
}
