body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:0px;
  top:0px;
  width:1020px;
  height:60px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:60px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:60px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:52px;
  top:10px;
  width:168px;
  height:41px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:fixed;
  left:52px;
  top:82px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:618px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:618px;
}
#u7 {
  position:absolute;
  left:2px;
  top:302px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u9 {
  position:absolute;
  left:8px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:44px;
  width:200px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#2298D1;
  line-height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:8px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:80px;
  width:200px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#2298D1;
  line-height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:8px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:116px;
  width:200px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#2298D1;
  line-height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u14_img.selected {
}
#u14.selected {
}
#u15 {
  position:absolute;
  left:8px;
  top:8px;
  width:184px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:31px;
  width:200px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u17 {
  position:absolute;
  left:264px;
  top:82px;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:58px;
  width:696px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:679px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:696px;
  height:1px;
}
#u17_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:58px;
  width:696px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:679px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:696px;
  height:1px;
}
#u17_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:370px;
  top:170px;
  width:200px;
  height:60px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u30 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:666px;
  width:660px;
  height:784px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:784px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:89px;
  width:276px;
  height:241px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:241px;
}
#u34 {
  position:absolute;
  left:2px;
  top:112px;
  width:272px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:28px;
  width:200px;
  height:28px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:28px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:58px;
  width:696px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:679px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:696px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:348px;
  width:476px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:28px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:386px;
  width:635px;
  height:251px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:210px;
  top:0px;
  width:210px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:420px;
  top:0px;
  width:210px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:30px;
  width:210px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u50 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:210px;
  top:30px;
  width:210px;
  height:36px;
  text-align:center;
  line-height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u52 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:420px;
  top:30px;
  width:210px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u54 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:66px;
  width:210px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u56 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:210px;
  top:66px;
  width:210px;
  height:36px;
  text-align:center;
  line-height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u58 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:420px;
  top:66px;
  width:210px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u60 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:102px;
  width:210px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u62 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:210px;
  top:102px;
  width:210px;
  height:36px;
  text-align:center;
  line-height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u64 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:420px;
  top:102px;
  width:210px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u66 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:138px;
  width:210px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u68 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:210px;
  top:138px;
  width:210px;
  height:36px;
  text-align:center;
  line-height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u70 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:420px;
  top:138px;
  width:210px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u72 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:174px;
  width:210px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u74 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:210px;
  top:174px;
  width:210px;
  height:36px;
  text-align:center;
  line-height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u76 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:420px;
  top:174px;
  width:210px;
  height:36px;
  text-align:center;
  line-height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u78 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:210px;
  width:210px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u80 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:210px;
  top:210px;
  width:210px;
  height:36px;
  text-align:center;
  line-height:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u82 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:420px;
  top:210px;
  width:210px;
  height:36px;
  text-align:center;
  line-height:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u84 {
  position:absolute;
  left:8px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:634px;
  width:476px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:28px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:343px;
  top:100px;
  width:10px;
  height:200px;
}
#u87_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u87_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u87_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u88 {
  position:absolute;
  left:390px;
  top:181px;
  width:40px;
  height:39px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u89 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:440px;
  top:192px;
  width:200px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:370px;
  top:170px;
  width:200px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u93 {
  position:absolute;
  left:0px;
  top:1488px;
  width:1630px;
  height:1080px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:1080px;
}
#u94 {
  position:absolute;
  left:2px;
  top:532px;
  width:1626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:1450px;
  width:200px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:2638px;
  width:280px;
  height:280px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:280px;
}
#u98 {
  position:absolute;
  left:2px;
  top:132px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:2600px;
  width:200px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:290px;
  top:2600px;
  width:200px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:290px;
  top:2638px;
  width:25px;
  height:25px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
